body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
	padding: 10px;
}
div.Bloc-graphique-standard {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Bloc-de-texte-standard {
	border-style:solid;
}

table {
  border: 0;
  border-collapse: separate;
  border-spacing: 20px; 
  width: 1191px;
}

th, td {
  border: 0;
  padding: 0;
  text-align: left;
}

table.sticked {
  border-collapse: collapse;
  border-spacing: 0;
  width: 1191px;
}

td.text-center-top {
  text-align: center;
  vertical-align: top;
}

td.text-right {
  text-align: right;
}

tr.presentation  td {
  border: 1px solid black;
  padding-bottom: 10px; 
  padding-left: 70px; 
  padding-top: 20px; 
}

tr.repository td {
  border: 1px solid black;
  height: 300px;
  padding: 10px;
}

tr.description  td {
  border: 1px solid black;
  padding-bottom: 10px; 
  padding-left: 30px; 
  padding-top: 10px; 
}

tr.bouton-rouge td {
  text-align: center;
}

img._idImage {
	height:100%;
	min-width:100%;
	width:100%;
}

p.Paragraphe-standard {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:20px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}

p.ParaOverride-1 {
	text-align:center;
	vertcial-align:middle;
}

p.ParaOverride-2 {
	text-align:justify;
	text-align-last:center;
}

p.ParaOverride-3 {
	text-align:justify;
	text-align-last:left;
}

#_idContainerPresentation {
	display:inline-block;
	width:980px;
}

#_idContainerBandeauGris {
	display:inline-block;
	height:71px;
	position:relative;
	width:1191px;
	background-color:#949494;
	border-width:0px;
}

#_idContainerDescription {
	display:inline-block;
	height:520px;
	position:relative;
	vertical-align: top;
	width:300px;
}

#_idContainerBouton {
	display:inline-block;
	height:30px;
	padding-top: 10px; 
	vertical-align: center;
	width:300px;
}

div._idGenObjectStyleOverride-4 {
	background-color:#fa0300;
	border-width:0px;
}

span.CharOverride-1 {
	color:#fa0300;
	font-family:Arial, sans-serif;
	font-size:24px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#ffffff;
	font-family:Arial, sans-serif;
	font-size:36px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#fa0300;
	font-family:Arial, sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#646363;
	font-family:Arial, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#fa0300;
	font-family:Arial, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#ffffff;
	font-family:Arial, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#646363;
	font-family:Arial, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#ffffff;
	font-family:Arial, sans-serif;
	font-size:16px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-9 {
	color:#ffffff;
	font-family:Arial, sans-serif;
	font-size:16px;
	font-style:italic;
	font-weight:normal;
}
